<div id="banner-wrapper">
    <div id="banner">
        <a href="/"><img src="stewbot.jpg" id="stewIcon"><img src="banner.png" id="stewBanner"></a><br>
        <span class="green"><b class="cyan">S</b>teward <b class="cyan">T</b>o <b class="cyan">E</b>xpedite <b class="cyan">W</b>ork</span><br><br>
        <nav class="bannerNav">
            <ul style="list-style-type:none;padding:0">
                <li><a href="/features" class="bannerBtn">Features</a></li>
                <li><a href="/commands" class="bannerBtn">Commands</a></li>
                <li><a href="/pricing" class="bannerBtn">Pricing</a></li>
                <li><a href="/add" class="bannerBtn">Install Stewbot</a></li>
                <li><a href="/source" class="bannerBtn">Source Code</a></li>
                <li><a href="/donate" class="bannerBtn">Donate</a></li>
            </ul>
        </nav>
    </div>
</div>
<br>