<!DOCTYPE html>
<html>
    <head>
        <title>404 - Stewbot</title>
        <link href="/global.css" media="only screen and (min-width: 480px)" rel="stylesheet"></link>
        <link href="/index.css" media="only screen and (min-width: 480px)" rel="stylesheet"></link>
        <link rel="stylesheet" media="only screen and (max-width: 480px)" href="/mobile.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <%- header %>
        <br>
        <h1 class="centered">Error 404</h1>
        <div class="content">
            We could not find this page on our website.
        </div>
        <%- footer %>
    </body>
</html>