<!DOCTYPE html>
<html>
    <head>
        <title>Features - Stewbot</title>
        <link href="global.css" rel="stylesheet" media="only screen and (min-width: 480px)"></link>
        <link href="index.css" media="only screen and (min-width: 480px)" rel="stylesheet"></link>
        <link rel="stylesheet" media="only screen and (max-width: 480px)" href="mobile.css"> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="Stewbot Features" property="og:title" />
        <meta content="List of features for Stewbot, the bot designed to keep servers fun and engaging while also providing moderators the tools to keep things clean and safe." property="og:description" />
        <meta content="https://stewbot.kestron.software" property="og:url" />
        <meta content="https://stewbot.kestron.software/stewbot.jpg" property="og:image" />
        <meta content="#006400" data-react-helmet="true" name="theme-color" />
    </head>
    <body>
        <% if(curDomain.includes("kestron.software")){ %>
            <div id="moving" style="width:100%;margin:0.5rem;background-color:rgb(255,255,0);color:#000;text-align:center;height:3rem;font-size:2rem;">
                This website is moving! Find us at <a href="<%= curDomain.replaceAll("kestron.software","kestron.com") %>">kestron.com</a>!
            </div>
        <% } %>
        <%- header %>
        <h1 class="centered">Features</h1>
        <main class="featuresGrid">
        <div class="content featureCard" id="special">
            <img class="fr" src="shakingHands.jpg">
            <div class="descriptionWrapper">
                <div>
                    <h2>Install to Your Profile</h2>
                    <p>Like the commands Stewbot gives you access to? Install him to your profile to use anywhere on all of Discord, even in DMs!</p>
                </div>
            </div>
        </div>
        <div class="content featureCard">
            <img class="fl" src="robostop.jpg">
            <div class="descriptionWrapper">
                <div>
                    <h2>Prevent Hacking & Spam</h2>
                    <p>Stewbot will attempt to prevent hacked or spam accounts before they get very far into defacing your server, and also features a badware and spam detection system to help warn users of potentially malicious links posted in the server.</p>
                </div>
            </div>
        </div>
        <div class="content featureCard">
            <img class="fl" src="robophone.jpg">
            <div class="descriptionWrapper">
                <div>
                    <h2>LEVEL UP!</h2>
                    <p>Encourage server engagement with a level up EXP system! Don't want to encourage spamming but want to encourage engagement? Stewbot doesn't grant EXP if it's too close to the last message, and has spam prevention and detection!</p>
                </div>
            </div>
        </div>
        <div class="content featureCard">
            <img class="fr" src="robosalute.jpg">
            <div class="descriptionWrapper">
                <div>
                    <h2>Configure & Customize Commands</h2>
                    <p>Personal and server-wide configurations, so you can customize bot functions for your server, and each user can customize their specific interactions! Don't like something Stewbot's doing at all, or want to disallow users to use a specific command? Configure it with /block_module!</p>
                </div>
            </div>
        </div>
        <div class="content featureCard">
            <img class="fl" src="robostop.jpg">
            <div class="descriptionWrapper">
                <div>
                    <h2>Censor Messages</h2>
                    <p>Stewbot has an advanced filter to remove any bad words from your server, configurable to censor messages instead of just deleting them.</p>
                </div>
            </div>
        </div>
        <div class="content featureCard">
            <img class="fr" src="robostar.jpg">
            <div class="descriptionWrapper">
                <div>
                    <h2>Emojiboards</h2>
                    <p>Stewbot features advanced emojiboard creation, allowing for multiple. If a message has a configurable amount of a configurable reaction added to it, Stewbot will post it to a configurable highlights reel channel - such as messages with a high amount of star emojis, or skull emojis.</p>
                </div>
            </div>
        </div>
        <div class="content featureCard">
            <img class="fl" src="robomoderator.jpg">
            <div class="descriptionWrapper">
                <div>
                    <h2>Easy Server Managment</h2>
                    <p>Stewbot provides moderators a massive toolbox to manage and automate their server and moderation, allowing for professional management of any server! From automatically removed temporary mod actions such as slowmode or bans, to admin messages in the server's name and PFP, Stewbot is a friend of moderators.</p>
                </div>
            </div>
        </div>
        <div class="content featureCard">
            <img class="fr" src="roboabacus.jpg">
            <div class="descriptionWrapper">
                <div>
                    <h2>Just Keep Counting</h2>
                    <p>Some servers like to have a channel where users can consecutively count up from a number infinitely - Stewbot is able to manage this with lots of customization on how he handles it!</p>
                </div>
            </div>
            
        </div>
        <div class="content featureCard">
            <img class="fl" src="robotag.jpg">
            <div class="descriptionWrapper">
                <div>
                    <h2>Add Self-Assigned Roles</h2>
                    <p>Auto roles allow for users to self-assign special roles! These can be pingable roles such as opt-in announcements, marker roles to show an interest, roles to allow or remove access to channels, change the color of names, whatever! Stewbot allows for an easy interface for this.</p>
                </div>
            </div>
        </div>
        <div class="content featureCard">
            <img class="fr" src="robointermediary.jpg">
            <div class="descriptionWrapper">
                <div>
                    <h2>File Tickets</h2>
                    <p>Stewbot has a ticket the commands Stewbot gives you access to? Install him to your profile to use anywhere on all of Discord, even in DMs!system available which allows for moderators and users to setup a private interface to discuss issues!</p>
                </div>
            </div>
        </div>
        <div class="content featureCard">
            <img class="fl" src="robowelcome.jpg">
            <div class="descriptionWrapper">
                <div>
                    <h2>Automatically Send Messages</h2>
                    <p>Auto join and leave messages let you professionally welcome or provide farewell to users as they enter and leave the server. Stewbot does this with the server's name and PFP, allowing for the most professional delivery possible.</p>
                </div>
            </div>
        </div>
        <div class="content featureCard">
            <img class="fr" src="robolog.jpg">
            <div class="descriptionWrapper">
                <div>
                    <h2>Log Server Changes</h2>
                    <p>Moderating requires being aware of anything happening in the server that might need to be modded. Stewbot features advanced logging of any changes that moderators may need to be aware of to keep things clean and safe for members</p>
                </div>
            </div>
        </div>
        <div class="content featureCard">
            <img class="fl" src="robohoney.jpg">
            <div class="descriptionWrapper">
                <div>
                    <h2>Add Persistent Roles</h2>
                    <p>If a user leaves the server and rejoins, Stewbot can be configured to add any roles they had before leaving back to them again, allowing for restriction or moderator rules to persist through temporary absenses!</p>
                </div>
            </div>
        </div>
        <div class="content featureCard">
            <img class="fr" src="robosticker.jpg">
            <div class="descriptionWrapper">
                <div>
                    <h2>Automatically Apply Roles</h2>
                    <p>Need to apply one or more roles to all new users when they join? Stewbot has you covered!</p>
                </div>
            </div>
        </div>
        <div class="content featureCard">
            <img class="fl" src="robophone.jpg">
            <div class="descriptionWrapper">
                <div>
                    <h2>Run Fun Activities</h2>
                    <p>Stewbot has lots of conversation starters packed in! Hundreds of approved clean memes, and randomly generated Would-you-Rather questions and jokes!</p>
                </div>
            </div>
        </div>
        <div class="content featureCard">
            <img class="fr" src="robodice.jpg">
            <div class="descriptionWrapper">
                <div>
                    <h2>Generate Random Numbers</h2>
                    <p>Stewbot features fun RNG features such as coin flipping, random numbers, and Magic 8-Ball responses!</p>
                </div>
            </div>
        </div>
        <div class="content featureCard">
            <img class="fl" src="robopoll.jpg">
            <div class="descriptionWrapper">
                <div>
                    <h2>Poll the Masses</h2>
                    <p>Need to make and run a poll? Stewbot has a super simple interface to do this and provide cool pie charts of responses!</p>
                </div>
            </div>
        </div>
        <div class="content featureCard">
            <img class="fr" src="robobook.jpg">
            <div class="descriptionWrapper">
                <div>
                    <h2>Define, Translate & Verse Lookup</h2>
                    <p>Stewbot also has the ability to provide definitions, translate to and from other languages, and look for verses in the King James Bible!</p>
                </div>
            </div>
        </div>
        <div class="content featureCard">
            <img class="fl" src="stewbot.jpg">
            <div class="descriptionWrapper">
                <div>
                    <h2>Chat with Stewbot</h2>
                    <p>Stewbot has a whole personality of his own! Using AI, Stewbot will respond to anything when pinged. Don't want him to respond? You can turn this off in the server or personal configurations!</p>
                </div>
            </div>
        </div>
        <div class="content featureCard">
            <img class="fr" src="stew.jpg">
            <div class="descriptionWrapper">
                <div>
                    <h2>Mmmmmmmmmmmmmmmmmmmmmmmmmm!</h2>
                    <p>Stewbot knows how to turn computer chips into a tasty stew, would that help?</p>
                </div>
            </div>
        </div>
        </main>
        <%- footer %>
    </body>
</html>
