<!DOCTYPE html>
<html>
    <head>
        <title>Features - Stewbot</title>
        <link href="global.css" rel="stylesheet" media="only screen and (min-width: 480px)"></link>
        <link href="index.css" media="only screen and (min-width: 480px)" rel="stylesheet"></link>
        <link rel="stylesheet" media="only screen and (max-width: 480px)" href="mobile.css"> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="Stewbot Features" property="og:title" />
        <meta content="List of features for Stewbot, the bot designed to keep servers fun and engaging while also providing moderators the tools to keep things clean and safe." property="og:description" />
        <meta content="https://stewbot.kestron.software" property="og:url" />
        <meta content="https://stewbot.kestron.software/stewbot.jpg" property="og:image" />
        <meta content="#006400" data-react-helmet="true" name="theme-color" />
    </head>
    <body>
        <% if(curDomain.includes("kestron.software")){ %>
            <div id="moving" style="width:100%;margin:0.5rem;background-color:rgb(255,255,0);color:#000;text-align:center;height:3rem;font-size:2rem;">
                This website is moving! Find us at <a href="<%= curDomain.replaceAll("kestron.software","kestron.com") %>">kestron.com</a>!
            </div>
        <% } %>
        <%- header %>
        <h1 class="centered">Features</h1>
        <div class="content" id="special">
            <img class="fl" src="shakingHands.jpg">
            Like the commands Stewbot gives you access to? Install him to your profile to use anywhere on all of Discord, even in DMs!
        </div>
        <div class="content">
            <img class="fr" src="robostop.jpg">
            Stewbot will attempt to prevent hacked or spam accounts before they get very far into defacing your server, and also features a badware and spam detection system to help warn users of potentially malicious links posted in the server.
        </div>
        <div class="content">
            <img class="fl" src="robophone.jpg">
            Encourage server engagement with a level up EXP system! Don't want to encourage spamming but want to encourage engagement? Stewbot doesn't grant EXP if it's too close to the last message, and has spam prevention and detection!
        </div>
        <div class="content">
            <img class="fr" src="robosalute.jpg">
            Personal and server-wide configurations, so you can customize bot functions for your server, and each user can customize their specific interactions! Don't like something Stewbot's doing at all, or want to disallow users to use a specific command? Configure it with /block_module!
        </div>
        <div class="content">
            <img class="fl" src="robostop.jpg">
            Stewbot has an advanced filter to remove any bad words from your server, configurable to censor messages instead of just deleting them.
        </div>
        <div class="content">
            <img class="fr" src="robostar.jpg">
            Stewbot features advanced emojiboard creation, allowing for multiple. If a message has a configurable amount of a configurable reaction added to it, Stewbot will post it to a configurable highlights reel channel - such as messages with a high amount of star emojis, or skull emojis.
        </div>
        <div class="content">
            <img class="fl" src="robomoderator.jpg">
            Stewbot provides moderators a massive toolbox to manage and automate their server and moderation, allowing for professional management of any server! From automatically removed temporary mod actions such as slowmode or bans, to admin messages in the server's name and PFP, Stewbot is a friend of moderators.
        </div>
        <div class="content">
            <img class="fr" src="roboabacus.jpg">
            Some servers like to have a channel where users can consecutively count up from a number infinitely - Stewbot is able to manage this with lots of customization on how he handles it!
        </div>
        <div class="content">
            <img class="fl" src="robotag.jpg">
            Auto roles allow for users to self-assign special roles! These can be pingable roles such as opt-in announcements, marker roles to show an interest, roles to allow or remove access to channels, change the color of names, whatever! Stewbot allows for an easy interface for this.
        </div>
        <div class="content">
            <img class="fr" src="robointermediary.jpg">
            Stewbot has a ticket system available which allows for moderators and users to setup a private interface to discuss issues!
        </div>
        <div class="content">
            <img class="fl" src="robowelcome.jpg">
            Auto join and leave messages let you professionally welcome or provide farewell to users as they enter and leave the server. Stewbot does this with the server's name and PFP, allowing for the most professional delivery possible.
        </div>
        <div class="content">
            <img class="fr" src="robolog.jpg">
            Moderating requires being aware of anything happening in the server that might need to be modded. Stewbot features advanced logging of any changes that moderators may need to be aware of to keep things clean and safe for members
        </div>
        <div class="content">
            <img class="fl" src="robohoney.jpg">
            If a user leaves the server and rejoins, Stewbot can be configured to add any roles they had before leaving back to them again, allowing for restriction or moderator rules to persist through temporary absenses!
        </div>
        <div class="content">
            <img class="fr" src="robosticker.jpg">
            Need to apply one or more roles to all new users when they join? Stewbot has you covered!
        </div>
        <div class="content">
            <img class="fl" src="robophone.jpg">
            Stewbot has lots of conversation starters packed in! Hundreds of approved clean memes, and randomly generated Would-you-Rather questions and jokes!
        </div>
        <div class="content">
            <img class="fr" src="robodice.jpg">
            Stewbot features fun RNG features such as coin flipping, random numbers, and Magic 8-Ball responses!
        </div>
        <div class="content">
            <img class="fl" src="robopoll.jpg">
            Need to make and run a poll? Stewbot has a super simple interface to do this and provide cool pie charts of responses!
        </div>
        <div class="content">
            <img class="fr" src="robobook.jpg">
            Stewbot also has the ability to provide definitions, translate to and from other languages, and look for verses in the King James Bible!
        </div>
        <div class="content">
            <img class="fl" src="stewbot.jpg">
            Stewbot has a whole personality of his own! Using AI, Stewbot will respond to anything when pinged. Don't want him to respond? You can turn this off in the server or personal configurations!
        </div>
        <div class="content">
            <img class="fr" src="stew.jpg">
            Stewbot knows how to turn computer chips into a tasty stew, would that help?
        </div>
        <%- footer %>
    </body>
</html>
