<!DOCTYPE html>
<html>
    <head>
        <title>Privacy Policy - Stewbot</title>
        <link href="global.css" media="only screen and (min-width: 480px)" rel="stylesheet"></link>
        <link href="index.css" media="only screen and (min-width: 480px)" rel="stylesheet"></link>
        <link rel="stylesheet" media="only screen and (max-width: 480px)" href="mobile.css"> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="Stewbot" property="og:title" />
        <meta content="Privacy Policy for Stewbot" property="og:description" />
        <meta content="https://stewared.com/tos" property="og:url" />
        <meta content="https://stewared.com/stewbot.jpg" property="og:image" />
        <meta content="#006400" data-react-helmet="true" name="theme-color" />
        <style>
            .content{
                font-size:15px;
            }
        </style>
    </head>
    <body>
        <% if(!curDomain.includes("stewared.com")){ %>
            <div id="moving" style="width:100%;margin:0.5rem;background-color:rgb(255,255,0);color:#000;text-align:center;height:3rem;font-size:2rem;">
                This website is moving! Find us at <a href="https://bot.stewared.com/">Stewared.com</a>!
            </div>
        <% } %>
        <%- header %>
        <h1 class="centered">Privacy Policy</h1>
        <div class="content">
            &emsp;What follows is the commitment made by the service, Stewbot, and the developer of Stewbot, to your privacy and any data collected.<br><br>
            &emsp;The information collected by Stewbot, referred to hereafter as the service, collects only what is strictly necessary. This includes user and server IDs, and specified configurations. The only further data will be consistent with usage of the service, and will not be personally identifiable to any capacity. Nothing further will be stored, held, or transmitted without the explicit expectation of such. No information will be shared with third parties. Collected data will only be stored while relevant, and terminated from memory as soon as is no longer necessary to. This data is stored privately, and will not be shared with anybody other than the developer and any designated assisting developers for debugging purposes only.<br><br>
            &emsp;The developer of the service can be contacted for any questions, concerns, or other communications at <a href="mailto:feedback@stewared.com">feedback@stewared.com</a>.
        </div>
        <%- footer %>
    </body>
</html>