<!DOCTYPE html>
<html>
    <head>
        <title>Source Code - Stewbot</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="global.css" rel="stylesheet" media="only screen and (min-width: 480px)"></link>
        <link rel="stylesheet" media="only screen and (max-width: 480px)" href="mobile.css"> 
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.5.1/build/styles/atom-one-dark.min.css">
        <script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.5.1/build/highlight.min.js"></script>
        <script>hljs.highlightAll();</script>

        <meta content="Source Code for Stewbot" property="og:title" />
        <meta content="Source Code for Stewbot, the bot designed to keep servers fun and engaging while also providing moderators the tools to keep things clean and safe." property="og:description" />
        <meta content="https://stewared.com" property="og:url" />
        <meta content="https://stewared.com/stewbot.jpg" property="og:image" />
        <meta content="#006400" data-react-helmet="true" name="theme-color" />
    </head>
    <body>
        <% if(!curDomain.includes("stewared.com")){ %>
            <div id="moving" style="width:100%;margin:0.5rem;background-color:rgb(255,255,0);color:#000;text-align:center;height:3rem;font-size:2rem;">
                This website is moving! Find us at <a href="https://bot.stewared.com/">Stewared.com</a>!
            </div>
        <% } %>
        <%- header %>
        <h1 class="centered">Source Code</h1>
        <div class="content featureCard">
            <img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" style="background-color:#161b22; padding: 1rem;">
            <div class="descriptionWrapper">
                <div>
                    <h2>Open Source & Transparent</h2>
                    <p>Stewbot's code is fully open source. We believe in transparency and want you to know exactly what the bot is doing.</p>
                </div>
            </div>
        </div>
        <div class="content">
            <h2 style="color: var(--secondardy-text);">GitHub Repository</h2>
            <p>There is a GitHub Repository available containing all of the following as well as additional essential files and instructions for creating <strong>env.json</strong> to run locally.</p>
            <div class="buttonWrapper" style="min-height: 4rem;">
                <a href="https://github.com/Stewared/Stewbot" target="_blank" class="primaryActionBtn">View Stewbot Repository →</a>
            </div>
            <p><sub><em>Were you looking for this website's source code? It can be found <a href="https://github.com/Stewared/Stewbot-Website">here</a>.</em></sub></p>
        </div>
        <div class="content">
            <input type="button" class="secondaryBtn" value="View env.json" onclick="roll()" style="margin-bottom: 1rem; width: 100%"><br>
            <h2 style="color: var(--secondardy-text);">Stewbot <strong>index.js</strong></h2>
            <pre style="overflow-x: auto; border-radius: 5px;">
                <code class="language-js"><%= stewbotSource %></code>
            </pre>
        </div>
        <%- footer %>
        <script>
            function roll(){
                document.body.innerHTML=`<video width="100%" autoplay><source src="roll.mp4" type="video/mp4"></video>${document.body.innerHTML}`;
            }
        </script>
    </body>
</html>
