html, body{
    background-color:black;
    color:white;
    background-image:url("/back.png");
    font-family:monospace;
    margin:0;
    padding:0;
    height:100%;
}
#banner{
    text-align:center;
    width:100%;
    font-family:monospace;
    font-size:12px;
    background-image:url("/back.png");
    background-size:20rem;
}
.bannerBtn{
    box-sizing:border-box;
    display: block;
    background-color:#006400;
    color:#00d7ff;
    font-size: 150%;
    width: 100%;
    transition: 0.3s;
    text-align:center;
    cursor:pointer;
    text-decoration:none;
    border:2%;
    border-style:solid;
    border-color: rgb(175,175,175) rgb(0,0,0) rgb(0,0,0) rgb(175,175,175);
}
.bannerBtn:hover{
    background-color:#00d7ff;
    color:#006400;
    text-decoration:none;
}
.bannerBtn:active{
    border-color:  rgb(0,0,0) rgb(175,175,175) rgb(175,175,175) rgb(0,0,0);
}
footer{
    box-sizing:border-box;
    width:100%;
    background-color:#006400;
    color:#00d7ff;
    text-align:center;
    font-size:1rem;
    height:5.5rem;
    margin-top:auto;
    padding:5px;
    border-color:#00FF00;
    border-style:solid;
    border-radius:5px;
}
a{
    color:#00d764;
    transition:0.3s;
    text-decoration:none;
}
a:hover{
    color:#FFFFFF;
    transition:0.3s;
    text-decoration:underline;
}
.content{
    width:90%;
    display:block;
    background-color:#006400;
    border-radius:5px;
    margin:10px auto;
    padding:1rem;

    border-style:solid;
    border-color:#00d7ff;
}
.content img{
    width:30%;
    margin:1rem;
}
.command{
    width:90%;
    display:block;
    border-radius:5px;
    margin:10px auto;
    padding:1rem;
    border-style:solid;
}
.command h6{
    float:right;
}
.optional{
    background-color:#252525;
    color:#D7D7D7;
}
.required{
    background-color:#000000;
    color:#00D7FF;
}

.brown{
    background-color:#401908;
    border-color:#654907;
}
.blue{
    background-color:#000064;
    border-color:#00D7FF;
}
.darkCyan{
    background-color:#06565f;
    border-color:#00FF00;
}
.darkGreen{
    background-color:#006400;
    border-color:#00FF00;
}
.red{
    background-color:#640000;
    border-color:#FF0000;
}
.cyan{
    color:#00d7ff;
}
.green{
    font-size:2rem;
    color:#00ff00;
}
.grey{
    background-color:#36393e;
    border-color:#7289da;
}

img{
    border-radius:5px;
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.tier{
    box-sizing:border-box;
    width:75%;
    border-style:solid;
    border-color:#00ff00;
    margin:1% auto 1% auto;
    padding:0.5rem;
    border-radius:5px;
    background-color:#06565f;
    text-align:center;
}
.tier .bannerBtn{
    width:100%;
}
.tier li{
    text-align:left;
}
.centered{
    text-align:center;
}
.fr{
    float:right;
    width:30%;
}
.fl{
    float:left;
    width:30%;
}
.tier h1{
    text-align:center;
}
.tier h3{
    text-align:center;
}
#stewIcon{
    width:15%;
}
#stewBanner{
    width:80%;
}
#dontWait{
    background-color:#06565f;
    padding:1rem;
    box-shadow: 0px 0px 5px 5px #1eaeda;
}
#special{
    box-shadow:0px 0px 5px 1rem #e1ff00;
}

#searchTerm{
    box-sizing:border-box;
    background-color:#006400;
    color:#00d7ff;
    font-size: 1.5rem;
    transition: 0.3s;
    text-decoration:none;
    border-style:solid;
    border-color: rgb(175,175,175) rgb(0,0,0) rgb(0,0,0) rgb(175,175,175);
    width:40%;
}
#searchTerm:hover{
    background-color:#00d7ff;
    color:#006400;
    text-decoration:none;
    cursor:text;
}
#searchTerm:active{
    border-color:  rgb(0,0,0) rgb(175,175,175) rgb(175,175,175) rgb(0,0,0);
}

#searchButton{
    float:none;
    width:20rem;
    font-size:2rem;
    height:3rem;
}

#addButton{
    width:70%;
    height:5rem;
    transition:0.5s;
    background-color:#00d000;
    border-color:#00d7ff;
    border-width:5px;
    box-shadow:0px 0px 5px 5px #00d7ff;
    font-size:2.5rem;
    font-family:fantasy;
    color:#000064;
}
#addButton:hover{
    width:75%;
    transition:0.3s;
    height:6rem;
    cursor:pointer;
    background-color:#00d7ff;
    border-color:#00ff00;
    box-shadow:0px 0px 5px 5px #00ff00;
    font-size:3rem;
    color:#006400;
}
#donateButton{
    width:70%;
    height:5rem;
    transition:0.5s;
    background-color:#00d000;
    border-color:#00d7ff;
    border-width:5px;
    box-shadow:0px 0px 5px 5px #00d7ff;
    font-size:2.5rem;
    font-family:fantasy;
    color:#000064;
}
#donateButton:hover{
    width:75%;
    transition:0.3s;
    height:6rem;
    cursor:pointer;
    background-color:#00d7ff;
    border-color:#00ff00;
    box-shadow:0px 0px 5px 5px #00ff00;
    font-size:3rem;
    color:#006400;
}